/**
 * All of the CSS
 */

.cta_notif_content {
    background-color: #ffffff;
    position: fixed;
    z-index: 20000;
    width: 450px;
    transform: translate(50%, 0px);
    transition: all 0.9s ease-in-out;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 16%), 0 0px 3px 0 rgb(0 0 0 / 12%);
    padding: 10px 15px 0 15px;
}

.cta_notif_content.tl {
    top: -150px;
    right: 80%;
}

.cta_notif_content.tc {
    top: -150px;
    right: 50%;
}

.cta_notif_content.tr {
    top: -150px;
    right: 20%;
}

.cta_notif_content.bl {
    bottom: -150px;
    right: 80%;
}

.cta_notif_content.bc {
    bottom: -150px;
    right: 50%;
}

.cta_notif_content.br {
    bottom: -150px;
    right: 20%;
}

.cta_notif_content.tl.expand,
.cta_notif_content.tc.expand,
.cta_notif_content.tr.expand {
    top:0;
}

.cta_notif_content.bl.expand,
.cta_notif_content.bc.expand,
.cta_notif_content.br.expand {
    bottom:0;
}

.cta_notif_button_wrapper {
    background: #eee;
    margin: 0 -15px;
}

.cta_notif_button {
    border-radius: 4px;
    background: #004e6e;
    margin: 10px 15px;
    font-size: 12px;
    padding: 0px 12px;
    color: #FFFFFF !important;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-weight: 500 !important;
    bottom: 0;
    line-height: 30px;
}

.cta_notif_button:hover {
    background: #1f7294;
    color: #ffffff;
}

.cta_notif_data {
    min-height: 30px;
    padding-bottom: 10px;
}

.cta_notif_headline {
    font-weight: 500;
    color: #585f66;
    font-size: 14px;
    line-height: 29px;
    padding-left: 20px;
}

.cta_notif_close {
    color: #999999;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    top: 0;
    height: 40px;
    width: 40px;
    left: 0;
    display: block;
    position: absolute;
    font-size: 20px;
    line-height: 40px;
}

@media only screen and (max-width: 922px) {
    .cta_notif_content {
        width: 90%;
    }
}